<p>We’ve identified {{model.target_legislators.length}} key reps you can help convince to sign on as supporters of reform:</p>


<ul>
  {{#each rep in model.target_legislators}}
    <li>
      {{#if rep.local}}Your local{{/if}}
      {{rep.displayLine}}
    </li>
  {{/each}}
</ul>

<p>Enter your phone number below, and we'll connect you with their offices now.</p>

<form {{action "next" on="submit"}}>
{{input type="tel" value=phone placeholder="Your Phone Number"}}

<button type="submit">Call now</button>
</form>

<p class="secondary">{{link-to "Skip if you can't call right now" "social"}}</p>

{{outlet}}
