<p>Step two. We would like to get some additional details from you so we can determine if you’re in a target state or district.</p>

<form {{action "next" on="submit"}}>
{{input placeholder="Street Address"}}
{{input placeholder="Town"}}
{{input placeholder="State"}}
{{input placeholder="ZIP Code"}}
<button type="submit">Next</button>
</form>

{{outlet}}
