<p>
  Step one: Identify congressional district
</p>
<p>
  Please provide your zip code so we can check to see if you are in one of our target districts.
</p>
<form  {{action "next" on="submit"}}>
{{#unless controllers.application.name}}
  {{input placeholder="Name" value=name required=true}}
{{/unless}}
{{#unless controllers.application.email}}
  {{input type="email" placeholder="Email" value=email required=true}}
{{/unless}}

{{#unless controllers.application.zip}}
  {{input type="tel" placeholder="ZIP Code" value=zip required=true pattern="(\d{5}([\-]\d{4})?)"}}
{{/unless}}

<button type="submit">Next</button>
</form>

{{outlet}}
