
<p>Pick a Citizen Lobbyist orientation teleconference where you&rsquo;ll learn more about our first campaign.
</p>
<form {{action "next" on="submit"}}>
{{input value=firstName placeholder="First Name" required="required" class="firstName"}}
{{input value=lastName placeholder="Last Name" class="lastName"}}
{{view "select" class="selectOrientation"
                content=model
                optionLabelPath="content.prettyDate"
                optionValuePath="content.id"
                prompt="Select an orientation to attend:"
                selection=selectedOrientation}}

<button type="submit" class='signUp'>Sign me up!</button>
</form>
<p>Not ready to join an orientation session? We can remind you to sign up later.</p>
<p class='remindLater'>{{link-to "Remind me later" "call" class="btn"}}</p>
<p class='secondary'>{{link-to "skip this step" "call"}}</p>

{{outlet}}
